.detail {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.leftContent {
  width: 45%;
  position: relative;
}

.leftDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.leftDetail img {
  width: 400px;
  height: 600px;
  object-fit: contain;
}

.small {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.small img {
  width: 60px;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
  opacity: .5;
}

.small img:first-child{
  opacity: 1;
}

.abs {
  left: -190px;
  position: absolute;
  width: 660px;
  height: 600px;
  background-color: bisque;
  z-index: -1;
}

.menu {
    margin-block: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.menu span {
  font-family: Taviraj;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(153, 153, 153, 1);

}


.menu span:first-child{
    color: rgba(216, 71, 39, 1) !important;
}

.menu span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.text h4{
    font-family: Taviraj;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 30px;
}

.text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(85, 85, 85, 1);
}

.cartBox{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.cartBox .leftContent{
  display: flex;
  gap: 20px;
  align-items: center;
}

.cartBox .leftContent img {
  width: 200px;
  height: 200px;
  padding: 20px;
  background: rgba(241, 221, 201, 1) !important
}

.cartBox .leftContent p{
  margin-bottom: 3px;
}

.cartBox .rightContent{
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
}

.modal-body p{
  margin-bottom: 0px;
}

.detailPage .dealBox{
  padding: 24px;
  height: 394px;
  position: relative;
}
.detailPage .dealBox:hover{
  padding: 24px;
  height: 440px;
}

.tag{
  position: absolute;
  right: 26px;
  top: -28px;
  padding: 4px 20px;
  background-color: #D84727;
  color: #fff;
}



.detailPage .dealBox img{
  transform: unset;
}

.detailPage .dealBox  div{
  transform: unset !important;
  margin-top: 10px;
}